/*CUSTOM NAV BAR STUFF*/
.navbar {margin: 0;}

#map {height: 100vh; width: 100vw;}
#instructions {
    position: absolute;
    z-index: 10;
    margin: 20px 8vw 0px 8vw;
    text-align: center;
    background-color: #666;
    opacity: .6;
    padding: 7px;
    border-radius: 8px;
    color: #fff;
    font-size: 2em;
}
#pond_points {height: 100vh; width: 100vw;}

button {
    border-radius: 4px;
    background-color: #fff;
}
#resetBt {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 50;
}

#cover {
    /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
    background-color: #fff;
    opacity: .7;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding-top: 40vh;
}

.logo {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    width: 15vw;
    z-index: 25;
}



